
 <!-- NAVIGETION SECTION  START-->
    
 <div class="header">
    <h2>ShareMe</h2>
    <form>
        <input type="search" placeholder="Search document">
        <p>
            <i class="fa-solid fa-magnifying-glass"></i>
        </p>
    </form>
    <p id="nav-bar-burger" >
        <i class="fa-solid fa-bars"></i>
    </p>
    <ul id="header-ul">
        <li><a href="#">Home</a></li>
        <li><a href="#">My documents</a></li>
        <li><a href="#">Shared with me</a></li>
        <li><a href="#">Storage</a></li>
        <li><a href="#">Shared</a></li>
        <li><a href="#">Account</a></li>
        <li><a href="#">Settings</a></li>
        <li><a href="#">Login</a></li>
        <li id="sign-out"><a href="#">Logout</a></li>
    </ul>
</div>
 <!-- NAVIGETION SECTION END -->